@media screen and (max-width: 576px) {

    /* Nav Section START */
    .nav-logo h3 {
        font-size: 1.34644rem;
    }

    .nav-logo span {
        font-size: 1.34644rem;
    }

    .nav-container img {
        width: 1.79525rem;
        height: 2.09475rem;
    }

    .link-drop-down {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        display: none;
    }

    /* Nav Section END */

    /* Nested Menu Styles START */

    .nav-link {
        display: none;
    }

    .link-drop-bar {
        cursor: pointer;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;

    }

    .link-drop-bar ul {
        list-style: none;

    }

    .link-drop-bar a {
        color: #424247;
        text-align: center;
        font-family: Mulish;
        font-size: 6px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }

    .drop-down {
        display: none;
        position: absolute;
        right: 2rem;
        background-color: rgba(255, 84, 0, 0.26);
        border-radius: 2px;
        text-align: center;
        padding: 0 5px;
        gap: 1px;

    }

    .link-drop-bar:hover .drop-down {
        display: block;
    }

    /* Nested Menu Styles END */

    /* <!-- Banner Section START --> */

    .banner-container {
        width: 335px;
        height: 483px;
        background-repeat: no-repeat;
        background-position-x: center;
        margin: 1.11rem 1.25rem 0 1.25rem;
    }

    .banner-text h3 {
        color: #FFF;
        text-align: center;

        font-size: 1.375rem;
        font-weight: 800;
        padding: 2rem 4.06rem 0.5rem 4.06rem;
    }

    .banner-text p {
        color: #FFF;
        font-size: 0.875rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.3125rem;
        width: 19rem;
        padding: 0 0.97rem 0 0.97rem;
    }

    .search-container {
        display: flex;
        width: 17.9375rem;
        padding: 1rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        margin: 2rem 0 0 1.5rem;
    }

    .search-container {
        border-radius: 0.5rem;
        background: rgba(255, 255, 255, 0.30);
        display: flex;
        width: 17.9375rem;
        padding: 1rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .search-container input[type=text] {
        color: rgba(19, 19, 24, 0.50);
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        width: 15.9375rem;
        height: 3.25rem;

    }

    .search-container input[type=button] {
        width: 15.9375rem;
        height: 3.25rem;
        flex-shrink: 0;
    }

    /* Banner Section END */

    /* --------------------------------------- */

    /* Popular Tour Section START */

    .Popular-tour {
        flex-direction: column;
        margin-top: 1.5rem;

    }

    .Popular-tour-text h3 {
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
    }

    .Popular-tour-text p {
        color: #5A5A5D;
        font-size: 0.875rem;
        line-height: 1.5rem;
        width: 20.9375rem;
        margin: 0 0 0.75rem 0.1rem;
        /* margin-bottom: 0.75rem; */
    }

    .Popular-tour-text li {
        color: #5A5A5D;
        font-size: 0.875rem;
        line-height: 1.5rem;
        width: 20.9375rem;
    }

    .Popular-tour-img img {
        width: 20.9375rem;
        height: 100%;
        /* height: 21.375rem; */
        background-repeat: no-repeat;
        background-position-x: center;

    }

    /* Popular Tour Section END */

    /* --------------------------------------- */

    /* <!-- Choose Your Destination START --> */

    .section-destination {
        margin-top: 1.5rem;
    }

    .section-destination h3 {
        color: #131318;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 800;

    }

    .section-destination p {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-size: 0.875rem;
        line-height: 1.5rem;
        width: 19.3125rem;
        margin: 1rem 2.06rem 0 2.06rem;
    }

    .first-column,
    .sec-column,
    .thr-column {
        /* width: 100%; */
        grid-template-columns: 335px;
        gap: 16px;
    }

    .first-column img {
        width: 335px;
        height: 176px;

    }

    .sec-column img {
        width: 335px;
        height: 176px;
    }

    .thr-column img {
        width: 335px;
        height: 176px;
    }

    /* <!-- Choose Your Destination END --> */

    /* --------------------------------------- */

    /* <!-- Why Choose Us START --> */

    .choose-section h3 {
        font-size: 1.25rem;
    }

    .choose-section>p {
        font-size: 0.875rem;
        width: 19.3125rem;
        margin: 1rem 2.06rem 1rem 2.06rem;
    }

    .choose-section-container p {
        font-size: 0.875rem;
        line-height: 1.5rem;
        /* 171.429% */
        width: 16.9375rem;
        padding: 0 2rem 2rem 0;
    }

    .choose-img1,
    .choose-img2,
    .choose-img3 {
        width: 20.9375rem;
    }

    .choose-section-container {
        grid-template-columns: 335px;
        gap: 1rem;
    }

    .choose-section-container .choose-img3 {
        justify-self: normal;
        grid-column-start: auto;
    }

    /* <!-- Why Choose Us END --> */

    /* --------------------------------------- */

    /* section Newsletter start */

    .newsletter-section {
        margin-top: 24px;
    }

    .text-from {
        width: 335px;
        height: 353px;
    }

    .text-from h3 {
        font-size: 20px;
        padding: 24px 0 8px 23.5px;
    }

    .text-from p {
        font-size: 14px;
        line-height: 24px;
        width: 270px;
        padding-left: 23.5px;
    }

    .text-from hr {
        width: 288px;
        margin: 16px 23.5px;
    }

    .subscribe-form input[type=text],
    input[type=email] {
        font-size: 16px;
        width: 288px;
        height: 52px;
        padding-left: 1px;
        margin: 0 23.5px 16px 23.5px;

    }

    .subscribe-form input[type=submit] {
        width: 288px;
        height: 52px;
        font-size: 20px;
        padding-left: 20px;
        margin: 0 23.5px 16px 23.5px;
    }

    .new-img img {
        position: relative;
        top: 0px;
        left: 0px;
        width: 335px;
        height: 300px;
        margin-top: 16px;
    }

    .off-70 h5 {
        font-size: 15.854px;
        padding-top: 10px;
    }

    .off-70 h3 {
        font-size: 21.138px;
    }

    .off-70 {
        width: 214.023px;
        height: 79.268px;
        bottom: 42px;
        left: 110px;
    }

    /* section Newsletter END */
    /* --------------------------------------- */

    




}