/* Google Font  */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap');


/* Universal */
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Mulish', sans-serif;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 81%;
    max-width: 1170px;
    margin: 0 auto;
}

/* Nav Section START */

.nav-container {
    margin: 52px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.nav-title {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.nav-link a {
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.nav-link span {
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-link ul {
    list-style: none;
    display: flex;
    gap: 44px;
}

.link-drop-bar {
    cursor: pointer;
    display: none;
}

/* Nav Section END */

/* -------------------------------------- */

/* Banner Section START */

.banner-container {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 1rem;
    width: 73.125rem;
    height: 31.25rem;
    margin-top: 3.06rem;
}

.banner-text {
    border-radius: 1rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.banner-text h3 {
    color: #FFF;
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
    padding: 6.62rem 17.94rem 0 17.94rem;
}

.banner-text p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 42.25rem;
    padding: 0 15.44rem;
}

.search-container {
    display: inline-flex;
    padding: 1rem;
    align-items: flex-start;
    gap: 1.5rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
    /* margin-top:3rem ; */
    margin: 3rem 11.56rem 0 11.56rem;
}

input[type=text] {
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

input[type=button] {
    width: 10.875rem;
    height: 3.25rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: #FF5400;
    border: none;
    padding: 1rem 0 1rem 1rem;
}

/* Banner Section END */

/* --------------------------------------- */

/* Popular Tour Section START */

.Popular-tour {
    display: flex;
    justify-items: space-between;
    align-items: center;
    margin: 6.25rem auto 0 8.44rem;
    gap: 3.13rem;
}

.Popular-tour-text h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1rem;
}

.Popular-tour-text p {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    width: 36.0625rem;
    margin-bottom: 1rem;
}

.Popular-tour-text li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    width: 32.8125rem;
    margin: 0 0 1rem 1.22rem;
}

button {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 0.5rem;
    background: #FF5400;
    padding: 0.84rem 1.52rem;
    /* width: 10.875rem;
    height: 3.25rem; */
    flex-shrink: 0;
    border: none;
}